{% extends "layouts/main.html" %}

{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header>
  
{% endblock %}

{% block content %}


<form action="tasklist" method="post">
 <div class="moj-search">

        <div class="govuk-form-group">
        <h2 class="govuk-heading-m">Search for cases</h2>

          <div id="search-hint" class="govuk-hint moj-search__hint ">
            You can search by project ID, business name, status or assignee.
          </div>

          <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">

        </div>

        <a href="caselist-team-results" role="button" draggable="false" class="govuk-button moj-search__button" data-module="govuk-button">
          Search
        </a>

    </div>
<details class="govuk-details govuk-!-margin-top-4">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Filter applications
    </span>
  </summary>
  <div class="govuk-details__text">

      
      <br>
        <h2 class="govuk-heading-m">Apply filters</h2>

      <div class="govuk-form-group radio-container">


      <div class="govuk-form-group column govuk-!-margin-bottom-0">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

            Grant

          </legend>

          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type1-1" name="type1" type="checkbox" value="1" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type1-1">
                Adding Value (AV)
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type1-2" name="type1" type="checkbox" value="2" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type1-2">
                Calf Housing for Health and Welfare (CHHW)
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type1-3" name="type1" type="checkbox" value="3">
              <label class="govuk-label govuk-checkboxes__label" for="type1-3">
                Improving Farm Productivity round 2 (IFP R2)
              </label>

            </div>
            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type1-4" name="type1" type="checkbox" value="4">
              <label class="govuk-label govuk-checkboxes__label" for="type1-3">
                Laying Hen Housing for Health and Welfare round 1 (LHHHW R1)
              </label>

            </div>
            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type1-4" name="type1" type="checkbox" value="4">
              <label class="govuk-label govuk-checkboxes__label" for="type1-4">
                Slurry Infrastructure round 2 (SIG R2)
              </label>

            </div>
            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type1-5" name="type1" type="checkbox" value="5">
              <label class="govuk-label govuk-checkboxes__label" for="type1-5">
                Water Management round 2 (WM R2)
              </label>

            </div>

          </div>

        </fieldset>

      </div>
      <div class="govuk-form-group column govuk-!-margin-bottom-0">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

            Stage

          </legend>

          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type2-1" name="type2" type="checkbox" value="1" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type2-1">
                EOI
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type2-2" name="type2" type="checkbox" value="2" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type2-2">
                ECR
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type2-3" name="type2" type="checkbox" value="3">
              <label class="govuk-label govuk-checkboxes__label" for="type2-3">
                Full appraisal
              </label>

            </div>
          </div>

        </fieldset>

      </div>
      <div class="govuk-form-group column govuk-!-margin-bottom-0">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

            Status

          </legend>

          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-1" name="type3" type="checkbox" value="1" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type3-1">
                Approved 
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-2" name="type3" type="checkbox" value="2" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type3-2">
                Approved for invite
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-3" name="type3" type="checkbox" value="3">
              <label class="govuk-label govuk-checkboxes__label" for="type3-3">
                Contracted
              </label>

            </div>
            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-4" name="type3" type="checkbox" value="4">
              <label class="govuk-label govuk-checkboxes__label" for="type3-4">
                In review
              </label>
            </div>
                        <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-5" name="type3" type="checkbox" value="5" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type3-5">
                Not started
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-6" name="type3" type="checkbox" value="6" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type3-6">
                On hold
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-7" name="type3" type="checkbox" value="7">
              <label class="govuk-label govuk-checkboxes__label" for="type3-7">
                QC
              </label>

            </div>
            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-8" name="type3" type="checkbox" value="8">
              <label class="govuk-label govuk-checkboxes__label" for="type3-8">
                Rejected
              </label>
            </div>
                        <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-9" name="type3" type="checkbox" value="9" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type3-9">
                In tech review
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-10" name="type3" type="checkbox" value="10" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type3-10">
                Second QC
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type3-11" name="type3" type="checkbox" value="11">
              <label class="govuk-label govuk-checkboxes__label" for="type3-11">
                Withdrawn
              </label>

            </div>


          </div>

        </fieldset>

      </div>
      <div class="govuk-form-group column govuk-!-margin-bottom-0">

        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">

            Assignee

          </legend>

          <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type" name="type" type="checkbox" value="1" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type">
                Unassigned (4)
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type-2" name="type" type="checkbox" value="2" checked>
              <label class="govuk-label govuk-checkboxes__label" for="type-2">
                R Singh (5)
              </label>

            </div>

            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
              <label class="govuk-label govuk-checkboxes__label" for="type-3">
                J Jonestone (6)
              </label>

            </div>
            <div class="govuk-checkboxes__item custom-width">
              <input class="govuk-checkboxes__input" id="type-3" name="type" type="checkbox" value="3">
              <label class="govuk-label govuk-checkboxes__label" for="type-3">
                M Walker (5)
              </label>

            </div>

          </div>

        </fieldset>

      </div>

    </div>
                  <button type="submit" class="govuk-button" data-module="govuk-button">
          Apply
        </button>
  </div>
</details>
  <div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item">
      <a  href="caselist-my">
        Your applications (5)
      </a>
    </li>
    <li class="govuk-tabs__list-item  govuk-tabs__list-item--selected">

        Team applications (16)

    </li>
    <li class="govuk-tabs__list-item">
      <a  href="caselist-all">
        All applications (50)
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="my-cases">
  
  </div>
  <div class="govuk-tabs__panel" id="caselist-team">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width govuk-!-margin-left-3 govuk-!-margin-right-3">
       
      <div class="govuk-form-group">
        <button type="submit" disabled aria-disabled="true" class="govuk-button" data-module="govuk-button">
          Reassign case
        </button>          
        <table class="govuk-table" data-module="moj-sortable-table" data-id-prefix="cases-">

          <thead class="govuk-table__head">
            <tr class="govuk-table__row">

              <th class="govuk-table__header" scope="col" id="cases-select-all">
                Select
              </th>

              <th scope="col" class="govuk-table__header" aria-sort="ascending">Ref</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Grant</th>
              <th scope="col" class="govuk-table__header custom-width-110" aria-sort="none">Business</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Priority</th>
              <th scope="col" class="govuk-table__header govuk-table__header--date" aria-sort="none">Stage</th>
              <th scope="col" class="govuk-table__header custom-width" aria-sort="none">Status</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Assignee</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Flag</th>

            </tr>
          </thead>

          <tbody class="govuk-table__body">

           <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1789200">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1789200">
                    <span class="govuk-visually-hidden">Select 1789200</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1789200</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">Valley Farm</td>
              <td class="govuk-table__cell">Critical<br>1 day left</td>
              <td class="govuk-table__cell">Full appraisal </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                Decision 
              </strong>
              </td>
              <td class="govuk-table__cell">R Singh</td>
              <td class="govuk-table__cell"> </td>
  </tr>
                      <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1781454">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1781454">
                    <span class="govuk-visually-hidden">Select 1781454</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1781454</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">North Sussex Farm Partnership</td>
              <td class="govuk-table__cell">Critical<br>5 days left</td>
              <td class="govuk-table__cell">Full appraisal </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                On hold
              </strong><br><strong class="govuk-tag govuk-tag--neutral">RFI overdue</strong>
              </td>
              <td class="govuk-table__cell">R Singh</td>
              <td class="govuk-table__cell"> </td>


            </tr>

            </tr>
                      <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1781455">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1781455">
                    <span class="govuk-visually-hidden">Select 1781455</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1781455</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">Harvest Horizon</td>
              <td class="govuk-table__cell">Critical<br>5 days left</td>
              <td class="govuk-table__cell">Full appraisal </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                On hold
              </strong><br><strong class="govuk-tag govuk-tag--neutral">RFI overdue</strong>
              </td>
              <td class="govuk-table__cell">R Singh</td>
              <td class="govuk-table__cell"> </td>


            </tr>

                 <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-178000">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-178000">
                    <span class="govuk-visually-hidden">Select 178000</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">178000</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">T and F Farms</td>
              <td class="govuk-table__cell">Critical<br>6 days left</td>
              <td class="govuk-table__cell">Full appraisal </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                On hold
              </strong><br><strong class="govuk-tag govuk-tag--neutral">RFI overdue</strong>
              </td>
              <td class="govuk-table__cell">M Walker</td>
              <td class="govuk-table__cell"> </td>


            </tr>
                             <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1781000">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1781000">
                    <span class="govuk-visually-hidden">Select 1781000</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1781000</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">J RENNER AND SONS</td>
              <td class="govuk-table__cell">Critical<br>6 days left</td>
              <td class="govuk-table__cell">Full appraisal </td>
               <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                In review 
              </strong>
              </td>
              <td class="govuk-table__cell">M Walker</td>
              <td class="govuk-table__cell"> </td>


            </tr>
                      <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1781668">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1781668">
                    <span class="govuk-visually-hidden">Select 1781668</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1781668</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">J F HODGES</td>
              <td class="govuk-table__cell">Medium <br>7 weeks left </td>
              <td class="govuk-table__cell">ECR</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                QC 
              </strong>
              </td>
              <td class="govuk-table__cell">M Walker</td>
              <td class="govuk-table__cell"> </td>


            </tr>
               <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1781669">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1781669">
                    <span class="govuk-visually-hidden">Select 1781669</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1781669</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">Fresh Fields Farm</td>
              <td class="govuk-table__cell">Medium <br>7 weeks left </td>
              <td class="govuk-table__cell">ECR</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                QC 
              </strong>
              </td>
              <td class="govuk-table__cell">J Jonestone</td>
              <td class="govuk-table__cell"> </td>


            </tr>
                      <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1782319">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1782319">
                    <span class="govuk-visually-hidden">Select 1782319</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">0782319</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">Alton Farms</td>
              <td class="govuk-table__cell">Medium <br>7 weeks left </td>
              <td class="govuk-table__cell">ECR</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                In review 
              </strong>
              </td>
              <td class="govuk-table__cell">M Walker </td>
              <td class="govuk-table__cell"> </td>


            </tr>
                      <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1782319">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1782319">
                    <span class="govuk-visually-hidden">Select 1782319</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">2782319</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">VW RICHARDS & PARTNERS</td>
              <td class="govuk-table__cell">Medium <br>7 weeks left</td>
              <td class="govuk-table__cell">ECR </td>
             <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                On hold
              </strong><br><strong class="govuk-tag govuk-tag--neutral">RFI overdue</strong>
              </td>
              <td class="govuk-table__cell">J Jonestone</td>
              <td class="govuk-table__cell"> </td>


            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-3782342">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-3782342">
                    <span class="govuk-visually-hidden">Select 3782342</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">3782342</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">GRAHAM & SONS</td>
              <td class="govuk-table__cell">Medium <br>7 weeks left</td>
              <td class="govuk-table__cell">ECR </td>
               <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                In review 
              </strong>
              </td>
              <td class="govuk-table__cell">J Jonestone</td>
              <td class="govuk-table__cell"> </td>
 

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1700019">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1700019">
                    <span class="govuk-visually-hidden">Select 1700019</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1700019</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">M TUCKER & PARTNERS</td>
              <td class="govuk-table__cell">Medium <br>7 weeks left</td>
              <td class="govuk-table__cell">ECR </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                In review 
              </strong>
              </td>
              <td class="govuk-table__cell">R Singh</td>
              <td class="govuk-table__cell"> </td>
 

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-0082319">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-0082319">
                    <span class="govuk-visually-hidden">Select 0082319</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">0082319</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">DAVID ROGER-HOGGS</td>
              <td class="govuk-table__cell">Medium <br>7 weeks left</td>
              <td class="govuk-table__cell">ECR </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>
              </td>
              <td class="govuk-table__cell">J Jonestone</td>
              <td class="govuk-table__cell"> </td>
 

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-0002319">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-0002319">
                    <span class="govuk-visually-hidden">Select 0002319</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">0002319</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">Heathfield Estate Limited</td>
              <td class="govuk-table__cell">Medium <br>7 weeks left</td>
              <td class="govuk-table__cell">ECR </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>
              </td>
              <td class="govuk-table__cell">J Jonestone</td>
              <td class="govuk-table__cell"> </td>
 

            </tr>


            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1720001">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1720001">
                    <span class="govuk-visually-hidden">Select 1720001</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1720001</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">SF RICHARDS & SONS</td>
              <td class="govuk-table__cell">Low <br>9 weeks left</td>
              <td class="govuk-table__cell">ECR </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>
              </td>
              <td class="govuk-table__cell">M Walker</td>
              <td class="govuk-table__cell"> </td>
 

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1730000">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1730000">
                    <span class="govuk-visually-hidden">Select 1730000</span>
                  </label>
                </div>
              </td>

             <td class="govuk-table__cell"><a href="task1">1730000</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">MESSRS J WICKHAM</td>
              <td class="govuk-table__cell">Low <br>9 weeks left</td>
              <td class="govuk-table__cell">ECR </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>
              </td>
              <td class="govuk-table__cell">J Jonestone</td>
              <td class="govuk-table__cell"> </td>
 

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1790000">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1790000">
                    <span class="govuk-visually-hidden">Select 1790000</span>
                  </label>
                </div>
              </td>

             <td class="govuk-table__cell"><a href="task1">1790000</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">CE FAIRFAX & PARTNERS</td>
              <td class="govuk-table__cell">Low <br>9 weeks left</td>
              <td class="govuk-table__cell">ECR </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>
              </td>
              <td class="govuk-table__cell">J Jonestone</td>
              <td class="govuk-table__cell"> </td>
 

            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1782300">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1782300">
                    <span class="govuk-visually-hidden">Select 1782300</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1782300</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">Greater Massingham Farm</td>
              <td class="govuk-table__cell">Low <br>9 weeks left</td>
              <td class="govuk-table__cell">ECR </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
                Not started
              </strong>
              </td>
              <td class="govuk-table__cell">M Walker</td>
              <td class="govuk-table__cell"> </td>
 

            </tr>



            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-padding-left-1 govuk-!-padding-top-0 govuk-!-padding-bottom-0">
                <div class="govuk-checkboxes__item govuk-checkboxes--small">
                  <input type="checkbox" class="govuk-checkboxes__input" id="cases-1781288">
                  <label class="govuk-label govuk-checkboxes__label" for="cases-1781288">
                    <span class="govuk-visually-hidden">Select 1781288</span>
                  </label>
                </div>
              </td>

              <td class="govuk-table__cell"><a href="task1">1781288</a></td>
              <td class="govuk-table__cell">WM R3</td>
              <td class="govuk-table__cell">Valley Farm</td>
              <td class="govuk-table__cell">Critical<br>5 days left</td>
              <td class="govuk-table__cell">Full appraisal </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">
                On hold
              </strong><br><strong class="govuk-tag govuk-tag--neutral">RFI sent</strong>
              </td>
              <td class="govuk-table__cell">J Jonestone</td>
              <td class="govuk-table__cell">!NM</td>
 

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--
  <nav class="govuk-pagination" aria-label="Pagination">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">
        Previous<span class="govuk-visually-hidden"> page</span>
      </span>
    </a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
        1
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" aria-current="page">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg>
    </a>
  </div>
</nav>
-->
  </div>


  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="all-cases">
    
  </div>
</div>


          







    </form>

  </div>

</div>





{% endblock %}