{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header>
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "javascript:history.back()"
      }) }}
      <h2 class="govuk-heading-m">Valley Farm</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">SBI:</strong> 112849012</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Reference:</strong>   1781288</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Grant: </strong>Water Management Round 3</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Date received:</strong>  1 Jul 2024</p></div>        
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  Not started</p></div>
      </div>


    </div>

  </div>
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c2 govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li> 
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="application-data">
              Application
            </a>
          </li>

          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="documents">
              Documents
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="timeline">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="notes">
              Notes
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="messages">
              Customer contact
            </a>
          </li>


        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="/questionFull1" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-top-3" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
      Request for information sent
    </h3>
    <p class="govuk-body">Your review is now on hold. The applicant must respond by 11 July.</p>
  </div>
</div>

<h3 class="govuk-heading-m">
      Application review
    </h3>

<div class="govuk-inset-text">You cannot do this review if you have a [conflict of interest] with a person or organisation on this project.</div>

<h3 class="govuk-heading-m">
      Review checklist
    </h3>
    <p><a href="">View review checklist guide</a></p>
    <ol class="govuk-list govuk-list--number">
      <li>Check the applicant and project are eligible.</li>
      <li>Check all documents are correct and uploaded.</li>
      <li>Check items, suppliers and quotes meet requirements.</li>
      <li>Check if the applicant has already applied for funding for project items.</li>
      <li>planning permission and approved plans</li>
      <li>project match funding evidence</li>
    </ol>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
         Decision
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="decision" type="radio" value="Pass" data-aria-controls="conditional-contact" {{ checked("decision", "Pass") }}>
            <label class="govuk-label govuk-radios__label" for="contact">
              Pass
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div id="more-detail-hint" class="govuk-hint">
              Record the reason for your decision
            </div>
            <textarea class="govuk-textarea" id="more-detail1" name="moreDetail1" rows="5" aria-describedby="more-detail-hint">{{ data['moreDetail1']}}</textarea>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible-2" name="decision" type="radio" value="Request more informationRequest more information" {{ checked("decision", "Request more information") }}>
            <label class="govuk-label govuk-radios__label" for="eligible-2">
              Request more information
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="decision" type="radio" value="Record the reason for your decision" data-aria-controls="conditional-contact2" {{ checked("decision", "Record the reason for your decision") }}>
            <label class="govuk-label govuk-radios__label" for="contact">
              Recommend rejection
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact2">
            <div id="more-detail-hint" class="govuk-hint">
              Record the reason for your decision
            </div>
            <textarea class="govuk-textarea" id="more-detail1" name="moreDetail1" rows="5" aria-describedby="more-detail-hint">{{ data['moreDetail1']}}</textarea>
          </div>
        </div>
      </fieldset>
    </div>
    
<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>

    </form>

  </div>

</div>





{% endblock %}