//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
// Add extra styles here
@import "defra-settings";

//defra header
.defra-internal-header {
    padding: 20px 0;
    border-bottom: 8px solid $defra-brand-colour;

  }

  @media (min-width: 48.0625em) {
    .defra-internal-header {
      display: table;
      width: 100%;
      min-height: 35px;
    }
  }
  
  .defra-internal-header .defra-logo {
    min-width: 275px;
    margin-bottom: 15px;
  }
  
  @media (min-width: 48.0625em) {
    .defra-internal-header .defra-logo {
      display: table-cell;
      width: 33.33%;
      margin-bottom: 0;
    }
  }
  
  @media (min-width: 48.0625em) {
    .defra-internal-service-name {
      display: table-cell;
      vertical-align: middle;
      padding-left: 2em;
    }
  }
  
  .defra-internal-service-name__link {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
  }
  
  .defra-internal-service-name__link:link, 
  .defra-internal-service-name__link:visited {
    color: $govuk-text-colour
  }
  
  @media (min-width: 48.0625em) {
    .defra-internal-service-name__link {
      font-size: 24px;
    }
  }
  
  .defra-logo {
    border-left: 2px solid $defra-brand-colour;
    padding-left: 8px;
  }

  .defra-logo__link {
    display: table;
  }
  
  .defra-logo__link::before {
    content: '';
    display: table-cell;
    background: url("/public/images/Department_for_Environment,_Food_and_Rural_Affairs_logo.png") no-repeat;
    background-size: 100% 100%;
    width: 138px;
    height: 75px;
  }
  
  .defra-logo__link:link, 
  .defra-logo__link:visited {
    text-decoration: none;
    font-size: 20px;
    color: $govuk-text-colour;
  }
  
  .defra-logo__img {
    visibility: hidden;
    height: 0;
    width: 0;
  }

   .lg-div {
  background-color: #E7F4EB;
}
  
.govuk-service-navigation-white {
  border-bottom: 1px solid #b1b4b6;
  background-color: #fff;
}



  .govuk-service-navigation__item-c,
.govuk-service-navigation__service-name {
  position: relative;
  margin: 10px 0;
  border: 0 solid rgb(26.1, 100.8, 165.6);
}
@media (min-width: 40.0625em) {
  .govuk-service-navigation__item-c,
  .govuk-service-navigation__service-name {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0;
  }
  .govuk-service-navigation__item-c:not(:last-child),
  .govuk-service-navigation__service-name:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .govuk-service-navigation__item-c:not(:last-child),
  .govuk-service-navigation__service-name:not(:last-child) {
    margin-right: 30px;
  }
}

  .govuk-service-navigation__item-c2,
.govuk-service-navigation__service-name {
  position: relative;
  margin: 10px 0;
  border: 0 solid rgb(26.1, 100.8, 165.6);
}
@media (min-width: 40.0625em) {
  .govuk-service-navigation__item-c2,
  .govuk-service-navigation__service-name {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px 0;
  }
  .govuk-service-navigation__item-c2:not(:last-child),
  .govuk-service-navigation__service-name:not(:last-child) {
    margin-right: 20px;
  }
}
@media (min-width: 40.0625em) and (min-width: 40.0625em) {
  .govuk-service-navigation__item-c2:not(:last-child),
  .govuk-service-navigation__service-name:not(:last-child) {
    margin-right: 50px;
  }
}




@media (max-width: 40.0525em) {
  .govuk-service-navigation__item--active {
    margin-left: -15px;
    padding-left: 10px;
    border-left-width: 5px;
  }
}
@media (min-width: 40.0625em) {
  .govuk-service-navigation__item--active {
    padding-bottom: 15px;
    border-bottom-width: 5px;
  }
}

.small-text {
  font-size: 16px !important;
}

.radio-container {
  display: flex;
  gap: 20px; /* Adjust spacing between columns */
}

.column {
  display: flex;
  flex-direction: column;
}

.custom-width {
  width: 250px;
}
.custom-width-table {
  width: 90px;
}

.custom-width-110 {
  width: 110px;
}

.custom-width-130 {
  width: 130px;
}

.custom-width-120 {
  width: 120px;
}

.custom-width-160 {
  width: 160px;
}

.custom-width-180 {
  width: 180px;
}

.custom-width-230 {
  width: 230px;
}

.custom-width-220 {
  max-width: 220px;
}

.custom-width-table-approved {
  width: 120px;
}

.margin-left-150 {
  margin-left: 150px;
}

.margin-left-123 {
  margin-left: 123px;
}

.margin-left-283 {
  margin-left: 283px;
}

.margin-left-310 {
  margin-left: 310px;
} 

.margin-left-80 {
  margin-left: 80px;
}

.margin-top-200 {
  margin-top: 200px;
}


.tick-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.reduced-width {
  width: 350px;
}

.notes-width {
  width: 550px;
}


.moj-messages-container-local {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
}

@media print {
  .moj-messages-container {
    font-family: sans-serif;
  }
}
@media (min-width: 40.0625em) {
  .moj-messages-container {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}
@media print {
  .moj-messages-container {
    font-size: 14pt;
    line-height: 1.15;
  }
}
.moj-message-list-local {
  min-height: 200px;
  padding: 5px;
}

.moj-message-item--sent-local {
    background-color: #1d70b8;
    color: #fff;
    float: right;
    margin-right: 10px;
    padding-right: 25px;
}

.name-right {
  text-align: right;
}

.govuk-tag--neutral {
    color: black;
    background-color: white;
}

.moj-filter__tag:after {
    background-image: url(/public/images/icon-tag-remove-cross.svg);
    content: "";
    display: inline-block;
    font-weight: 700;
    height: 10px;
    margin-left: 5px;
    vertical-align: middle;
    width: 10px;
}

.moj-filter-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust spacing between elements */
}

.moj-filter-tags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px; /* Adjust spacing between items */
}

.moj-filter__selected {
    background-color: #e8f1f8;
    box-shadow: inset 0 0 0 1px #b1b4b6;
    padding: 20px;
}

.moj-filter__header {
    padding: 10px 20px;
    background-color: #bbd4ea;
    font-size: 0;
    text-align: justify;
}

.moj-timeline__description {
    margin-top: 20px;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
}
.govuk-heading-s-w {
    color: #ffffff;
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25;
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}



.moj-message-item__text.moj-message-item__text--received a {
    color: black;
}

.govuk-radios__input_s {
    z-index: 1;
    width: 30px;
    height: 30px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}
.govuk-tag--red-new {
    color: rgb(42.4, 10.6, 5.6);
    background-color: rgb(244.25, 204.5, 198.25);
}

.govuk-tag--red-status {
    color: rgb(42.4, 10.6, 5.6);
    background-color: rgb(244.25, 204.5, 198.25);
}

.govuk-tag--red-new:before {
    background-image: url(/public/images/icon-tag-remove-cross.svg);
    content: "";
    display: inline-block;
    font-weight: 700;
    height: 10px;
    margin-left: 5px;
    margin-right: 10px;
    vertical-align: middle;
    width: 10px;
}

.gem-c-button--secondary-quiet {
    padding: 8px 10px;
    border-color: #505a5f;
    color: #505a5f;
    background-color: #fff;
    box-shadow: none;
    margin-left: 20px;
    margin-top: -5px;
    margin-bottom: 10px;
}

.gem-c-button--secondary-quiet:hover,
.gem-c-button--secondary-quiet:focus {
  background-color: #f3f2f1; /* Light grey instead of green */
  color: #0b0c0c;             /* Dark grey for contrast */
  border-color: #0b0c0c;      /* Subtle but defined */
  text-decoration: none;      /* Optional: remove underline on focus */
}

.radio-flex-box {
  display: flex;
  align-items: center;
  gap: 1rem; /* Adjust spacing between label and radio group */
  margin-bottom: 1rem; /* Add vertical rhythm */
}

.radio-flex-box2 {
  display: flex;
  align-items: center;
   margin-left: 215px;
    margin-top: 60px;
  gap: 1rem; /* Adjust spacing between label and radio group */
  margin-bottom: 1rem; /* Add vertical rhythm */
}

.govuk-notification-banner--fail {
  border-color: #d4351c;
  background-color: #d4351c;
}
.govuk-notification-banner--fail .govuk-notification-banner__link:link, .govuk-notification-banner--success .govuk-notification-banner__link:visited {
  color: #d4351c;
}
.govuk-notification-banner--fail .govuk-notification-banner__link:hover {
  color: #d4351c;
}
.govuk-notification-banner--fail .govuk-notification-banner__link:active {
  color: #d4351c;
}
.govuk-notification-banner--fail .govuk-notification-banner__link:focus {
  color: #d4351c;
}

.dark-grey-box {
  border: 5px solid #ccc;       /* 3px solid border in dark grey */
  padding-left: 15px;                 /* 5px padding inside the box */
  padding-top: 15px;                 /* 5px padding inside the box */
}


















