{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header> 
  <div class="lg-div"> 
   
<div class="govuk-width-container">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      {{ govukBackLink({
        text: "Back to applications",
        href: "caselist-team"
      }) }}
      <h2 class="govuk-heading-m">Berkshire Estate Limited</h2>
    </div>
    <div style="display: flex; justify-content: flex-end;">
      <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button">
        Rerun rules
      </button>
    </div>
  </div>


     
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div><p><strong class="govuk-!-margin-right-1">Scheme :</strong> SFI expanded offer 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Application ID:</strong>100300</p></div>
        <div><p><strong class="govuk-!-margin-right-1">SBI: </strong>112849012</p></div>       
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>{{ data['caseStatus']}}</p></div>
      </div>


    </div>

  </div>
{% endblock %}

 
{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link"  href="tasklist-stage" aria-current="true">
              Tasks
            </a>
          </li> 


          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="application-data">
              Application
            </a>
          </li>
 
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="calculations2">
              Calculations
            </a>
          </li>         <!--
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="known-data">
              Business details
            </a>

          </li> 
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="land">
              Land
            </a>
          </li>-->
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="timeline">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2  govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#">
              <strong class="govuk-service-navigation__active-fallback">Notes</strong>
            </a>
          </li>
          <!--
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="messages">
              Customer contact
            </a>
          </li> -->
          {% if (data.agreementStage) %} 
           <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="agreement">
              Agreement
            </a>
          </li>
          {% else %} 
          {% endif %} 


        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="test3" method="post">
    <div class="govuk-tabs govuk-!-margin-top-6" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        Notes
    </li>
    <li class="govuk-tabs__list-item">
      <a href="add-a-note">
        Add a note
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="Notes">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
     
<div class="govuk-form-group govuk-!-padding-left-3 govuk-!-padding-right-2">
  <fieldset class="govuk-fieldset" aria-describedby="regKeeper-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
    All notes
      </h1>
    </legend>

    
<div class="govuk-form-group">

{% if not data.decision1 and not data.noteActionTask6 and not data.noteActionTask5 and not data.noteActionTask4 and not data.noteActionTask3 and not data.noteActionTask2 and not data.noteActionTask1 %} 

  <H3 class="govuk-heading-s">There are no notes to display yet</H3>

{% else %}

<h2 class="govuk-heading-m">Review notes</h2>
<table class="govuk-table" data-module="moj-sortable-table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header custom-width-120" aria-sort="ascending">Date</th>
      <th scope="col" class="govuk-table__header custom-width-160" aria-sort="none">Type</th>

      <th scope="col" class="govuk-table__header notes-width">Note</th>

      <th scope="col" class="govuk-table__header custom-width-110" aria-sort="none">Added by</th>

    </tr>
  </thead> 

  <tbody class="govuk-table__body">

    {% if (data.decision1 ) %} 

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">12 Sept 2025 at 11:12am</td>

      <td class="govuk-table__cell">
        Decision: {{ data['decision1']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredReviewNote']}}
      </td>

      <td class="govuk-table__cell"> J Smith</td>


    </tr>
    {% endif %}
    {% if (data.task6Note2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Sept 2025 at 11:04am</td>
      <td class="govuk-table__cell">
        Budget: {{ data['decisionTask6']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote6_2']}}
      </td>
      <td class="govuk-table__cell">  J Smith</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask6 ) %} 
    <tr class="govuk-table__row">

      <td class="govuk-table__cell">12 Sept 2025 at 11:02am</td>

      <td class="govuk-table__cell">
        Budget: {{ data['noteActionTask6']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote6']}}
      </td>

      <td class="govuk-table__cell"> J Smith</td>


    </tr>
    {% endif %}
    {% if (data.task5Note2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Sept 2025 at 10:52am</td>
      <td class="govuk-table__cell">
        Payment: {{ data['decisionTask5']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote5_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask5 ) %}  
    <tr class="govuk-table__row">

      <td class="govuk-table__cell">12 Sept 2025 at 10:42am</td>

      <td class="govuk-table__cell">
        Payment: {{ data['noteActionTask5']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote5']}}
      </td>

      <td class="govuk-table__cell"> A Jones</td>


    </tr>
    {% endif %}
    {% if (data.task3Note2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Sept 2025 at 10:38am</td>
      <td class="govuk-table__cell">
        SSSI planning: {{ data['decisionTask3']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote3_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask3 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Sept 2025 at 10:36am</td>
      <td class="govuk-table__cell">
        SSSI planning: {{ data['noteActionTask3']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote3']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.task2Note2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Sept 2025 at 10:34am</td>
      <td class="govuk-table__cell">
        Calculations: {{ data['decisionTask2']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote2_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask2 ) %} 
      <tr class="govuk-table__row">

      <td class="govuk-table__cell">12 Sept 2025 at 10:32am</td>

      <td class="govuk-table__cell">
        Calculations: {{ data['noteActionTask2']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote2']}}
      </td>

      <td class="govuk-table__cell"> A Jones</td>

    </tr>
    {% endif %}
    {% if (data.task1Note2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Sept 2025 at 10:30am</td>
      <td class="govuk-table__cell">
        Customer details: {{ data['decisionTask1']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote1_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask1 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">12 Sept 2025 at 10:30am</td>
      <td class="govuk-table__cell">
        Customer details: {{ data['noteActionTask1']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote1']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
      </tbody>
</table>

<!-- agree phase -->

    {% if (data.decision1 ) %} 

    <h2 class="govuk-heading-m">Agreement notes</h2>

    {% if not data.noteActionAgreeTask1 and not data.noteActionAgreeTask2 %} 

  <H3 class="govuk-heading-s">There are no agreement notes to display yet</H3>

{% else %}
<table class="govuk-table" data-module="moj-sortable-table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header custom-width-120" aria-sort="ascending">Date</th>
      <th scope="col" class="govuk-table__header custom-width-160" aria-sort="none">Type</th>

      <th scope="col" class="govuk-table__header notes-width">Note</th>

      <th scope="col" class="govuk-table__header custom-width-110" aria-sort="none">Added by</th>

    </tr>
  </thead> 

  <tbody class="govuk-table__body">

    {% if (data.decisionAg) %} 
    <tr class="govuk-table__row">

      <td class="govuk-table__cell">14 Sept 2025 at 17:02am</td>

      <td class="govuk-table__cell">
        Decision: {{ data['decisionAg']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredAggNote']}}
      </td>

      <td class="govuk-table__cell"> A Jones</td>


    </tr>
    {% endif %}
    {% if (data.task2ANote2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 13:45am</td>
      <td class="govuk-table__cell">
        Customer contacted: {{ data['decisionAgreeTask2']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote2A_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionAgreeTask2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 13:30am</td>
      <td class="govuk-table__cell">
        Customer contacted: {{ data['noteActionAgreeTask2']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote2A']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.task1ANote2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:30am</td>
      <td class="govuk-table__cell">
        Check agreement: {{ data['decisionAgreeTask1']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote1A_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionAgreeTask1 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:15am</td>
      <td class="govuk-table__cell">
        Check agreement: {{ data['noteActionAgreeTask1']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote1A']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
      </tbody>
</table>
  {% endif %}
    
  
<!-- 5month phase -->

  {% if (data.decisionAg) %} 

  <h2 class="govuk-heading-m">5 month notes</h2>

  {% if not data.decisionTask1m and not data.decisionTask2m and not data.decisionTask3m and not data.decisionTask4m and not data.decisionTask5m and not data.decisionTask6m %} 

  <H3 class="govuk-heading-s">There are no 5 month check notes to display yet</H3>

{% else %}
<table class="govuk-table" data-module="moj-sortable-table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header custom-width-120" aria-sort="ascending">Date</th>
      <th scope="col" class="govuk-table__header custom-width-160" aria-sort="none">Type</th>

      <th scope="col" class="govuk-table__header notes-width">Note</th>

      <th scope="col" class="govuk-table__header custom-width-110" aria-sort="none">Added by</th>

    </tr>
  </thead> 

  <tbody class="govuk-table__body">

    {% if (data.decision5m) %} 
    <tr class="govuk-table__row">

      <td class="govuk-table__cell">14 Sept 2025 at 17:02am</td>

      <td class="govuk-table__cell">
        Decision: {{ data['decisionAg']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['agreeNote']}}
      </td>

      <td class="govuk-table__cell"> A Jones</td>


    </tr>
    {% endif %}
    {% if (data.task6mNote2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:30am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['decisionTask6m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote6m_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask6m ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:15am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['noteActionTask6m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote6m']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}    
    {% if (data.task5mNote2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:30am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['decisionTask5m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote5m_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask5m ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:15am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['noteActionTask5m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote5m']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.task4mNote2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:30am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['decisionTask4m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote4m_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask4m) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:15am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['noteActionTask4m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote4m']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.task3mNote2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:30am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['decisionTask3m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote3m_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask3m ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:15am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['noteActionTask3m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote3m']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.task2mNote2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:30am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['decisionTask2m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote2m_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask2m ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:15am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['noteActionTask2m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote2m']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.task1mNote2 ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:30am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['decisionTask1m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote1m_2']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
    {% if (data.noteActionTask1m ) %} 
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">14 Sept 2025 at 12:15am</td>
      <td class="govuk-table__cell">
        Failed calculations: {{ data['noteActionTask1m']}}
      </td>
      <td class="govuk-table__cell">
        {{ data['filteredNote1m']}}
      </td>
      <td class="govuk-table__cell"> A Jones</td>
    </tr>
    {% endif %}
      </tbody>
</table>
  {% endif %}





{% endif %}

{% endif %}
{% endif %}
</fieldset>
</div>





  </div>


    </form>


</div>
</div>





{% endblock %}