{% extends "layouts/main.html" %}

{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="defra-logo defra-logo-nav">
              <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
                <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
              </a>
          </div>

          <div class="defra-internal-service-name">
              <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
                Manage rural grant applications
              </a>
          </div>  
        </div>

        <div class="govuk-grid-column-one-third">
                    <!-- NEW: Container for right-aligned links -->
          <div class="header-account-nav">
            <a class="header-nav-link" href="#">Sign out</a>
            <div class="user-details-line">
              <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">User mmt &nbsp; |&nbsp; <a class="header-nav-link" href="#" aria-current="page">Casework</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </header>
  
{% endblock %}

{% block content %}

<nav class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-margin-bottom-5" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="users-and-roles">User management</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="users">Users</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      Create user
    </li>

  </ol>
</nav>
<h1 class="govuk-heading-l">Create user</h1>
<p>Pre create users to allow application roles to be allocated before user's first login</p>
<div class="govuk-form-group">
  <label class="govuk-label govuk-date-input__label govuk-label--s" for="dob-year">
    Name 
  </label>
  <input class="govuk-input govuk-date-input__input govuk-input--width-20" id="description" name="name" type="text" >
</div>
<div class="govuk-form-group">
  <label class="govuk-label govuk-date-input__label govuk-label--s" for="dob-year">
    Email 
  </label>
  <input class="govuk-input govuk-date-input__input govuk-input--width-20" id="description" name="email" type="email" >
</div>

<button type="submit" class="govuk-button govuk-!-margin-top-0 govuk-button govuk-!-margin-bottom-3" data-module="govuk-button">
 Confirm
</button><br>
<a href="roles" class="govuk-link">Cancel</a>



  </div>

</div>





{% endblock %}