{% extends "layouts/main.html" %}

{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="defra-logo defra-logo-nav">
              <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
                <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
              </a>
          </div>

          <div class="defra-internal-service-name">
              <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
                Manage rural grant applications
              </a>
          </div>  
        </div>

        <div class="govuk-grid-column-one-third">
                    <!-- NEW: Container for right-aligned links -->
          <div class="header-account-nav">
            <a class="header-nav-link" href="#">Sign out</a>
            <div class="user-details-line">
              <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">Admin &nbsp; |&nbsp; <a class="header-nav-link" href="../caselist-my" aria-current="page">Casework</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </header>
  
{% endblock %}

{% block content %}




      
<h1 class="govuk-heading-l">Users and roles</h1>

<h2 class="govuk-heading-m">Users</h2>
<p>Check and update what users can do. </p>

<p><a class="govuk-link" href="users">Manage users</a></p>

<h2 class="govuk-heading-m">Roles</h2>
<p>Check and edit roles, or create new ones. </p>

<p><a class="govuk-link" href="roles">Manage roles</a></p>


  </div>

</div>





{% endblock %}