{% extends "layouts/main.html" %}

{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-header__inner">
        <a href="/" class="defra-header__logo-link" title="Go to the homepage" data-testid="defra-heading-logo">
          <img class="logo-light" src="/public/images/Department_for_Environment_Food_and_Rural_Affairs_logo.png" alt="Department for Environment Food &amp; Rural Affairs">
          <span class="defra-header__service-name" data-testid="defra-heading-service-name">Manage rural grant applications</span>
        </a>

        <div class="header-account-nav">
          <a class="header-nav-link" href="#">Sign out</a>
          <div class="user-details-line">
            <!--<p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0">Admin &nbsp; |&nbsp; <a class="header-nav-link" href="../caselist-my" aria-current="page">Casework</a></p> -->
          </div>
        </div>
      </div>
    </div>
  </header>
  
{% endblock %}

{% block content %}




      
<h1 class="govuk-heading-l">Users and roles</h1>

<h2 class="govuk-heading-m">Users</h2>
<p>Check and update what users can do. </p>

<p><a class="govuk-link" href="users">Manage users</a></p>

<h2 class="govuk-heading-m">Roles</h2>
<p>Check and edit roles, or create new ones. </p>

<p><a class="govuk-link" href="roles">Manage roles</a></p>


  </div>

</div>





{% endblock %}