{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header> 
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "caselist-team"
      }) }}
      <h2 class="govuk-heading-m">Berkshire Estate Limited</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">Scheme :</strong> SFI expanded offer 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Application ID:</strong>100300</p></div>
        <div><p><strong class="govuk-!-margin-right-1">SBI: </strong>12849012</p></div>       
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  In progress</p></div>
      </div>


    </div>

  </div>
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="tasklist" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li> 
          <!--
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="calculations">
              Calculations
            </a>
          </li>
          -->
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="application-agree">
              Application
            </a>
          </li>
          <!--
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="known-data">
              Business details
            </a>

          </li> -->
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="land-agree">
              Land
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="timeline" aria-current="true">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="notes">
              Notes
            </a>
          </li>

          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="messages">
              Customer contact
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="/AMasterChecked2" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
        Land parcel rules checks
      </h1>
    </legend>


<h2 class="govuk-heading-m">Parcel ID: SO3757 3159 checks</h2>

<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
           <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="task-2a-pass3059" aria-describedby="company-details-1-status">
                  Available area check 
                </a>
              </div>
              <div class="govuk-task-list__status" id="company-details-1-status">
                <strong class="govuk-tag govuk-tag--green">
                <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
                </svg>
                Passed
                </strong>

              </div>
            </li>
          </ul>
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Land parcel 
            </dt>
            <dd class="govuk-summary-list__value">
              SO3757 3164
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              Moderate livestock grazing on moorland - UPL1
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Quantity (ha)
            </dt>
            <dd class="govuk-summary-list__value">
              3.5125 ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Payment rate per year
            </dt>
            <dd class="govuk-summary-list__value">
              £20 per ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Yearly payment
            </dt>
            <dd class="govuk-summary-list__value">
              £70.25
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              Keep cattle and ponies on moorland supplement (minimum 70% GLU): UPL5
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total available area for action
            </dt>
            <dd class="govuk-summary-list__value">
              3.5125  ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Quantity (ha)
            </dt>
            <dd class="govuk-summary-list__value">
              3.5125  ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Payment rate per year
            </dt>
            <dd class="govuk-summary-list__value">
              £18 per ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Yearly payment
            </dt>
            <dd class="govuk-summary-list__value">
              £63.23
            </dd>
          </div>
        </dl>
    </div>
  </div>

    <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
         Land parcel selected: SO3757 3169
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
 <dl class="govuk-summary-list govuk-!-margin-bottom-4">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Land parcel 
            </dt>
            <dd class="govuk-summary-list__value">
              SO3757 3169
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              Moderate livestock grazing on moorland - UPL1
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Quantity (ha)
            </dt>
            <dd class="govuk-summary-list__value">
              3.5125 ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Payment rate per year
            </dt>
            <dd class="govuk-summary-list__value">
              £20 per ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Yearly payment
            </dt>
            <dd class="govuk-summary-list__value">
              £70.25
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Action
            </dt>
            <dd class="govuk-summary-list__value">
              Keep cattle and ponies on moorland supplement (minimum 70% GLU): UPL5
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Total available area for action
            </dt>
            <dd class="govuk-summary-list__value">
              3.5125  ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Quantity (ha)
            </dt>
            <dd class="govuk-summary-list__value">
              3.5125  ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Payment rate per year
            </dt>
            <dd class="govuk-summary-list__value">
              £18 per ha
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Yearly payment
            </dt>
            <dd class="govuk-summary-list__value">
              £63.23
            </dd>
          </div>
        </dl>
    </div>
  </div>
  <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-2a-pass3059" aria-describedby="company-details-1-status">
          Available area check 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--green">
        <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
        </svg>
        Passed
        </strong>

      </div>
    </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-2a-pass3059" aria-describedby="company-details-1-status">
          Intersecting data layers check 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--green">
        <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
        </svg>
        Passed
        </strong>

      </div>
    </li>
  </ul>

  <h2 class="govuk-heading-m">Parcel ID: SO3757 3164 checks</h2>
  <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-2a-pass3059" aria-describedby="company-details-1-status">
          Available area check 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--green">
        <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
        </svg>
        Passed
        </strong>

      </div>
    </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-2a-pass3059" aria-describedby="company-details-1-status">
          Intersecting data layers check 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--green">
        <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
        </svg>
        Passed
        </strong>

      </div>
    </li>
  </ul>

  <h2 class="govuk-heading-m">Parcel ID: SO3757 3169 checks</h2>
  <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-2a-pass3059" aria-describedby="company-details-1-status">
          Available area check 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--green">
        <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
        </svg>
        Passed
        </strong>

      </div>
    </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-2a-pass3059" aria-describedby="company-details-1-status">
          Intersecting data layers check 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--green">
        <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
        </svg>
        Passed
        </strong>

      </div>
    </li>
  </ul>

  <h2 class="govuk-heading-m">Parcel ID: SO3757 3172 checks</h2>
  <ul class="govuk-task-list">

    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-2a-pass3059" aria-describedby="company-details-1-status">
          Available area check 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--green">
        <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
        </svg>
        Passed
        </strong>

      </div>
    </li>
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-2a-pass3059" aria-describedby="company-details-1-status">
          Intersecting data layers check 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status">
        <strong class="govuk-tag govuk-tag--green">
        <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
        </svg>
        Passed
        </strong>

      </div>
    </li>
  </ul>

    



<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
         Checks review outcome
      </h2>
    </legend>
    <p>Mark this task as complete when you have carried out your available area checks.</p>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Note
          </h2>
        </legend>
          <div id="more-detail-hint" class="govuk-hint">All notes will be saved for auditing purposes
          </div>
          <textarea class="govuk-textarea" id="more-detail1" name="task2aNote" rows="5" aria-describedby="more-detail-hint">{{ data['task1Note']}}</textarea>
        </div>
      </fieldset>
    </div>
    </fieldset>
  </div>

<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Mark as complete
  </button>
</div>

 
    </form>

  </div>

</div>





{% endblock %}