{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header> 
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "javascript:history.back()"
      }) }}
      <h2 class="govuk-heading-m">Berkshire Estate Limited</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">Scheme :</strong> SFI expanded offer 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Application ID:</strong>100300</p></div>
        <div><p><strong class="govuk-!-margin-right-1">SBI: </strong>12849012</p></div>       
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  In progress</p></div>
      </div>


    </div>

  </div> 
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="tasklist-test" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li> 
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="application">
              Application
            </a>
          </li>
          <!--
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="known-data">
              Business details
            </a>

          </li> -->
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="land">
              Land
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="timeline" aria-current="true">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="notes">
              Notes
            </a>
          </li>

          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="messages">
              Customer contact
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="task-2b-pass3064" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <span class="govuk-caption-l">Parcel ID SO3757 3059</span>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
         Intersecting data layers check
      </h1>
    </legend>

    <h2 class="govuk-heading-m">Result</h2>

    <p>Passed</p>

    <h2 class="govuk-heading-m">Pass reason</h2>

    <p>Parcel SO3757 3059 is at least 50% on moorland.<br>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Check details</caption>

      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Parcel ID</th>
          <td class="govuk-table__cell">SO3757 3059</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Parcel area</th>
          <td class="govuk-table__cell">100 ha</td>
        </tr>
            <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Area on moorland</th>
          <td class="govuk-table__cell">60 ha</td>
        </tr>
            <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Percentage on moorland</th>
          <td class="govuk-table__cell">60%</td>
        </tr>
      </tbody>
    </table>


<p><a href="/public/images/Land_Calculation_Output.pdf">View detailed check data (PDF)</a></p>

<div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
         Decision
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible-2" name="decision" type="radio" value="All is fine" data-aria-controls="conditional-decision2" {{ checked("decision", "All is fine") }}>
            <label class="govuk-label govuk-radios__label" for="eligible-2">
              All is fine
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible-2" name="decision" type="radio" value="Request more information" data-aria-controls="conditional-decision2" {{ checked("decision", "Request more information") }}>
            <label class="govuk-label govuk-radios__label" for="eligible-2">
              Request more information
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision2">
            <p>Note (optional)</p>
            <div id="more-detail-hint" class="govuk-hint">
              All notes will be saved for auditing purposes
            </div>
            
            <textarea class="govuk-textarea" id="more-detail1" name="moreDetail1" rows="5" aria-describedby="more-detail-hint">{{ data['moreDetail1`']}}</textarea>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="decision" type="radio" value="Reject" data-aria-controls="conditional-decision3" {{ checked("decision", "Reject") }}>
            <label class="govuk-label govuk-radios__label" for="contact">
              Reject
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision3">
            <p>Rejection reason note</p>
            <div id="more-detail-hint" class="govuk-hint">
              All notes will be saved for auditing purposes
            </div>
            <textarea class="govuk-textarea" id="more-detail1" name="moreDetail1" rows="5" aria-describedby="more-detail-hint">{{ data['moreDetail1']}}</textarea>
          </div>
        </div>
      </fieldset>
    </div>
    <div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button">
    Confirm and continue
  </button>

</div>
    </form>

  </div>

</div>





{% endblock %}