{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header> 
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "caselist"
      }) }}
      <h2 class="govuk-heading-m">Berkshire Estate Limited</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">Scheme :</strong> SFI expanded offer 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Application ID:</strong>100300</p></div>
        <div><p><strong class="govuk-!-margin-right-1">SBI: </strong>112849012</p></div>       
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  In progress</p></div>
      </div>


    </div>

  </div>
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li>          
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="application">
              Application
            </a>
          </li>

          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="calculations2">
              Calculations
            </a>
          </li>

 
          <!--
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="land">
              Land
            </a>
          </li>          -->
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="timeline" aria-current="true">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="notes">
              Notes
            </a>
          </li>
<!-- 
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="messages">
              Customer contact
            </a>
          </li> -->
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="agreement">
              Agreement
            </a>
          </li> 

        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="/app-approve1" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="regKeeper-hint">
    <div class="radio-flex-box">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
      Tasks
        </h1>
      </legend>
      

    </div>

  
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            Application review tasks
          </span>
        </h2>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content">

      <ul class="govuk-task-list">
        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-1" aria-describedby="company-details-1-status">
              Check customer details 
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status"> 
Accepted
          </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-2" aria-describedby="company-details-1-status">
              Review land parcel rule checks
            </a>
          </div>
          <div class="govuk-task-list__status" id="company-details-1-status">
Accepted
          </div>
        </li>


        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-3" aria-describedby="company-details-1-status">
              Check if SSSI consent has been requested
            </a>
          </div>
            <div class="govuk-task-list__status" id="company-details-1-status">
Accepted
            </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-4" aria-describedby="company-details-1-status">
            Check if SAM consent has been granted
            </a>
          </div>
            <div class="govuk-task-list__status" id="company-details-1-status">
Accepted
            </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-5" aria-describedby="company-details-1-status">
              Check payment amount
            </a>
          </div>
            <div class="govuk-task-list__status" id="company-details-1-status">
Accepted
            </div>
        </li>

        <li class="govuk-task-list__item govuk-task-list__item--with-link">
          <div class="govuk-task-list__name-and-hint">
            <a class="govuk-link govuk-task-list__link" href="task-6" aria-describedby="company-details-1-status">
              Review scheme budget as a finance officer
            </a>
          </div>
            <div class="govuk-task-list__status" id="company-details-1-status">
Accepted
            </div>
        </li>


      </ul>
    </div>
  </div>
</div>

  <h2 class="govuk-heading-m">Agreement review tasks</h2>
  <ul class="govuk-task-list">
    <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-1" aria-describedby="company-details-1-status">
          Check customer agreement 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status"> 
      {% if (data.decisionAgreeTask1) %}      
        {% if (data.decisionAgreeTask1 === 'Accepted') %} {{ data['agreeStatus'] }} 
        {% else %}<strong class="{{ data['agreeTag'] }}">{{ data['agreeStatus'] }}</strong>
        {% endif %}
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      {% endif %}
      </div>
    </li>

     <li class="govuk-task-list__item govuk-task-list__item--with-link">
      <div class="govuk-task-list__name-and-hint">
        <a class="govuk-link govuk-task-list__link" href="task-1" aria-describedby="company-details-1-status">
          Send customer agreement 
        </a>
      </div>
      <div class="govuk-task-list__status" id="company-details-1-status"> 
      {% if (data.decisionAgreeSTask1) %}      
        {% if (data.decisionAgreeSTask1 === 'Accepted') %} {{ data['agreeSStatus'] }} 
        {% else %}<strong class="{{ data['agreeTag'] }}">{{ data['agreeSStatus'] }}</strong>
        {% endif %}
      {% else %}
        <strong class="govuk-tag govuk-tag--blue">
          Incomplete
        </strong>
      {% endif %}
      </div>
    </li>
  </ul>

<div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
         Decision
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          {% if (data.decisionTask1 === 'Accepted' and data.decisionTask2f === 'Accepted'  and data.decisionTask3 === 'Accepted' and data.decisionTask4 === 'Accepted' and data.decisionTask5 === 'Accepted' and data.decisionTask6 === 'Accepted' ) %}
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="decision" type="radio" value="Approve" data-aria-controls="conditional-decision1" {{ checked("decision", "Approve") }}>
            <label class="govuk-label govuk-radios__label" for="contact">
              Approve
            </label>
          </div>
          {% endif %}
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision1">
            <p> Approval reason note</p>
            <div id="more-detail-hint" class="govuk-hint">
              All notes will be saved for auditing purposes
            </div>
            <textarea class="govuk-textarea" id="more-detail1" name="moreDetail1" rows="5" aria-describedby="more-detail-hint">{{ data['moreDetail1']}}</textarea>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible-2" name="decision" type="radio" value="Request more informationRequest more information" data-aria-controls="conditional-decision2" {{ checked("decision", "Request more information") }}>
            <label class="govuk-label govuk-radios__label" for="eligible-2">
              Put on hold
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision2">
            <p>Note (optional)</p>
            <div id="more-detail-hint" class="govuk-hint">
              All notes will be saved for auditing purposes
            </div>
            
            <textarea class="govuk-textarea" id="more-detail1" name="moreDetail1" rows="5" aria-describedby="more-detail-hint">{{ data['moreDetail1']}}</textarea>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="decision" type="radio" value="Reject" data-aria-controls="conditional-decision3" {{ checked("decision", "Reject") }}>
            <label class="govuk-label govuk-radios__label" for="contact">
              Reject
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-decision3">
            <p>Rejection reason note</p>
            <div id="more-detail-hint" class="govuk-hint">
              All notes will be saved for auditing purposes
            </div>
            <textarea class="govuk-textarea" id="more-detail1" name="moreDetail1" rows="5" aria-describedby="more-detail-hint">{{ data['moreDetail1']}}</textarea>
          </div>
        </div>
      </fieldset>
    </div>

  </fieldset>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Save
</button>
    </form>








    </form>

  </div>

</div>





{% endblock %}