{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header> 
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "javascript:history.back()"
      }) }}
      <h2 class="govuk-heading-m">Berkshire Estate Limited</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">Scheme :</strong> SFI expanded offer 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Application ID:</strong>100300</p></div>
        <div><p><strong class="govuk-!-margin-right-1">SBI: </strong>128490127</p></div>       
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  In progress</p></div>
      </div>


    </div>

  </div>
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link"  href="tasklist" aria-current="true">
              Tasks
            </a>
          </li> 

          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="application-data">
              Application
            </a>
          </li>
          <!--
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="known-data">
              Business details
            </a>

          </li> -->
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="land">
              Land
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="timeline">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2  govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#">
              <strong class="govuk-service-navigation__active-fallback">Notes</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="messages">
              Customer contact
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="agreement">
              Agreement
            </a>
          </li>


        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="test3" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="regKeeper-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
    Case notes
      </h1>
    </legend>
    <h2 class="govuk-heading-m">Add note</h2>
    <div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="sort">
    Type
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Type 1</option>
    <option value="updated" selected>Type 2</option>
    <option value="views">Type 3</option>
    <option value="comments">Type 4</option>
  </select>
</div>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="more-detail">
      Note
    </label>
  </h1>

  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint">Sent email in CRM to ask if applicant had SSSI consent for their land parcel.</textarea>
</div>
  <button type="submit" class="govuk-button" data-module="govuk-button">
  Save
</button>

<h2 class="govuk-heading-m">All notes</h2>
<table class="govuk-table" data-module="moj-sortable-table">


  <thead class="govuk-table__head">
    <tr class="govuk-table__row">

      <th scope="col" class="govuk-table__header" aria-sort="ascending">Date</th>

      <th scope="col" class="govuk-table__header reduced-width">Note</th>

      <th scope="col" class="govuk-table__header" aria-sort="none">Added by</th>

    </tr>
  </thead> 

  <tbody class="govuk-table__body">
        <tr class="govuk-table__row">

      <td class="govuk-table__cell">25 Nov 2025</td>

      <td class="govuk-table__cell">
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Example note
          </span>
        </summary>
        <div class="govuk-details__text">
          Example message here to show how user would see the note 
        </div>
      </details>
      </td>

      <td class="govuk-table__cell">Emily Carter</td>


    </tr>

    <tr class="govuk-table__row">

      <td class="govuk-table__cell">10 Sept 2025</td>

      <td class="govuk-table__cell">
        Assignment 
      </td>

      <td class="govuk-table__cell">Emily Carter</td>

    </tr>


  </tbody>
</table>







    </form>

  </div>

</div>





{% endblock %}