{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header> 
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "caselist-team"
      }) }}
      <h2 class="govuk-heading-m">Berkshire Estate Limited</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">Scheme :</strong> SFI expanded offer 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Application ID:</strong>100300</p></div>
        <div><p><strong class="govuk-!-margin-right-1">SBI: </strong>12849012</p></div>       
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  In progress</p></div>
      </div>


    </div>

  </div> 
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="tasklist-test" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li> 
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="application-data">
              Application
            </a>
          </li>
          <!--
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="known-data">
              Business details
            </a>

          </li> -->
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="land">
              Land
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="timeline" aria-current="true">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="notes">
              Notes
            </a>
          </li>

          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="messages">
              Customer contact
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="review-Passeded2" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
        Supplementary actions check
      </h1>
    </legend>

     <h2 class="govuk-heading-m">Result</h2>

    <p>Failed</p>


    <h2 class="govuk-heading-m">Fail reason</h2>

    <p>Supplementary action is not compatible with base action for parcel ID0120.</p>



<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Check details</caption>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Parcel ID</th>
      <td class="govuk-table__cell">ID0120</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Base action</th>
      <td class="govuk-table__cell">UPL1: Moderate livestock grazing on moorland</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Supplementary action</th>
      <td class="govuk-table__cell">UPL7: Not compatible with UPL1</td>
    </tr>
  </tbody>
</table>

<h2 class="govuk-heading-m">What you need to do</h2>

<ol class="govuk-list govuk-list--number">
  <li>Put the application on hold.</li>
    <li>Contact the applicant to ask which actions they want to change or reduce.</li>
  <li>Go to the Revenue ELMS screen in SITI Agri and make the reductions.</li>
  <li>Mark the task as resolved. We'll run the check again after you do this.</li>
</ol>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
       If the applicant does not want to change actions
    </span>
  </summary>
  <div class="govuk-details__text">
    
    <p class="govuk-body">You'll need to:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>reject the application and add the rejection reason</li>
  <li>contact the applicant to tell them their application has been rejected due to the actions not being compatible</li>
</ul>
  </div>
</details>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h2 class="govuk-fieldset__heading">
        Task outcome
      </h2>
    </legend>
      <div id="more-detail-hint" class="govuk-hint">Describe what you did to resolve this task
      </div>
      <textarea class="govuk-textarea" id="more-detail1" name="moreDetail1" rows="5" aria-describedby="more-detail-hint"></textarea>
    </fieldset></div>

<div class="govuk-button-group">
  <button type="submit" class="govuk-button" data-module="govuk-button" data-govuk-button-init="">
    Mark as resolved
  </button>
  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button" data-govuk-button-init="">
    Go back to tasks
  </button>
</div>
  </fieldset>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Record decision
</button>

    </form>

  </div>

</div>





{% endblock %}