{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header> 
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "caselist-team"
      }) }}
      <h2 class="govuk-heading-m">Berkshire Estate Limited</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">Scheme :</strong> SFI expanded offer 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Application ID:</strong>100300</p></div>
        <div><p><strong class="govuk-!-margin-right-1">SBI: </strong>112849012</p></div>       
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  In progress</p></div>
      </div>


    </div>

  </div>
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li> 
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="application-data">
              Application
            </a>
          </li>
          <!--
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="known-data">
              Business details
            </a>

          </li> -->
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="land">
              Land
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="timeline" aria-current="true">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="notes">
              Notes
            </a>
          </li>

          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="messages">
              Customer contact
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="agreement">
              Agreement
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="review-Passeded2" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
        Available area check
      </h1>
    </legend>


            <h2 class="govuk-heading-m">Available area subchecks</h2>

  
          <ul class="govuk-task-list">
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                  Test 1
                </a>
              </div>
              <div class="govuk-task-list__status" id="company-details-1-status">
                <strong class="govuk-tag govuk-tag--red-new">      
                  Failed
                </strong>
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                  Test 2 
                </a>
              </div>
              <div class="govuk-task-list__status" id="company-details-1-status">
                <strong class="govuk-tag govuk-tag--green">
                  <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
                  </svg>
                  Passed
                </strong>
              </div>
            </li>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
                  Test 3 
                </a>
              </div>
              <div class="govuk-task-list__status" id="company-details-1-status">
                <strong class="govuk-tag govuk-tag--green">
                  <svg class="tick-icon" width="20" height="20" viewBox="0 0 24 24" fill="green" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 16.2L4.8 12L3.4 13.4L9 19L21 7L19.6 5.6L9 16.2Z"/>
                  </svg>
                  Passed
                </strong>
              </div>
            </li>
          </ul> 



    

    </form>

  </div>

</div>





{% endblock %}