{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header> 
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "javascript:history.back()"
      }) }}
      <h2 class="govuk-heading-m">Berkshire Estate Limited</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">Scheme :</strong> SFI expanded offer 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Application ID:</strong>100300</p></div>
        <div><p><strong class="govuk-!-margin-right-1">SBI: </strong>12849012</p></div>       
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  In progress</p></div>
      </div>


    </div>

  </div> 
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="tasklist-test" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li> 
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="application-agree">
              Application
            </a>
          </li>
          <!--
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="known-data">
              Business details
            </a>

          </li> -->
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="land-agree">
              Land
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="timeline" aria-current="true">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="notes">
              Notes
            </a>
          </li>

          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="messages">
              Customer contact
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="/review-Passeded2" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <span class="govuk-caption-l">Parcel ID SO3757 3059</span>
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
        Available area check
      </h1>
    </legend>

    <h2 class="govuk-heading-m">Result</h2>

    <p>Passed</p>

    <h2 class="govuk-heading-m">Pass reason</h2>

    <p>Applicant has applied for the total available area in the land parcel for this action.</p>



<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Check details</caption>

  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Parcel ID</th>
      <td class="govuk-table__cell">SO3757 3059</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total size</th>
      <td class="govuk-table__cell">100 ha</td>
    </tr>  
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Land covers</th>
      <td class="govuk-table__cell">SSI 40%, Historic 10%, moorland 70%</td>
    </tr>  



    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Action applied for </th>
      <td class="govuk-table__cell">Moderate livestock grazing on moorland - UPL1</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Eligible land covers for this action</th>
      <td class="govuk-table__cell">Moorland 70%, SSI 40%</td>
    </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Existing actions</th>
      <td class="govuk-table__cell">none</td>
    </tr>

        <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Available area you can enter into this action</th>
      <td class="govuk-table__cell">90 ha</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Total available area for action </th>
      <td class="govuk-table__cell">90 ha</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Available area applied for</th>
      <td class="govuk-table__cell">90 ha (100%)</td>
    </tr>
  </tbody>
</table>
<p><a href="/public/images/Land_Calculation_Output.pdf">View detailed check data (PDF)</a></p>

<h2 class="govuk-heading-m">What you need to do</h2>

<ol class="govuk-list govuk-list--number">
  <li>Go to Notes to add information for this check (if you need to).</li>
  <li>Continue reviewing the application.</li>
</ol>
    </form>

  </div>

</div>





{% endblock %}