{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header>
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "javascript:history.back()"
      }) }}
      <h2 class="govuk-heading-m">Valley Farm</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">SBI:</strong> 112849012</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Reference:</strong>   1781288</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Grant: </strong>WM R3</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Date received:</strong>  1 Jul 2024</p></div>        
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  Not started</p></div>
      </div>


    </div>

  </div>
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li> 
          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="timeline">
              Timeline
            </a>
          </li>
          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="application-data">
              Application
            </a>
          </li>

          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="documents">
              Documents
            </a>
          </li>
          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="notes">
              Case notes
            </a>
          </li>
          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="messages">
              Customer communication
            </a>
          </li>
          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="assignment">
              Assignment history
            </a>
          </li>

        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="/questionFull1" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
        Add application and document check outcome
      </h1>
    </legend>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Is the organisation and project eligible for funding?
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible" name="eligible" type="radio" value="yes" {{ checked("eligible", "yes") }}>
            <label class="govuk-label govuk-radios__label" for="eligible">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="eligible-2" name="eligible" type="radio" value="no" {{ checked("eligible", "no") }}>
            <label class="govuk-label govuk-radios__label" for="eligible-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
        <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Does the project meet funding priorities?
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="meetPriorities" name="meetPriorities" type="radio" value="yes" {{ checked("meetPriorities", "yes") }}>
            <label class="govuk-label govuk-radios__label" for="meetPriorities">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="meetPriorities-2" name="meetPriorities" type="radio" value="no"{{ checked("meetPriorities", "no") }}>
            <label class="govuk-label govuk-radios__label" for="meetPriorities-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
        <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          Is funding available for the project?
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="funding" name="funding" type="radio" value="yes" {{ checked("funding", "yes") }}>
            <label class="govuk-label govuk-radios__label" for="funding">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="funding-2" name="funding" type="radio" value="no" {{ checked("funding", "no") }}>
            <label class="govuk-label govuk-radios__label" for="funding-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </fieldset>
</div>
<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--s" for="more-detail">
      Notes (optional)
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Record the reason for your decision
  </div>
  <textarea class="govuk-textarea" id="more-detail1" name="moreDetail1" rows="5" aria-describedby="more-detail-hint">{{ data['moreDetail1']}}</textarea>
</div>
<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </form>

  </div>

</div>





{% endblock %}