{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header>  
  <div class="lg-div"> 
    <div class="govuk-width-container">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
          {{ govukBackLink({
            text: "Back to applications",
            href: "caselist-my"
          }) }}
          <h2 class="govuk-heading-m">Berkshire Estate Limited</h2>
        </div>
        <div style="display: flex; justify-content: flex-end;">
          <button type="submit" class="govuk-button moj-search__button" data-module="govuk-button">
            Run calculations again
          </button>
        </div>
      </div>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">Scheme :</strong> SFI expanded offer 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Application ID:</strong>100287</p></div>
        <div><p><strong class="govuk-!-margin-right-1">SBI: </strong>112849012</p></div>       
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>{{ data['caseStatus']}}</p></div>
      </div>


    </div>

  </div>
  
{% endblock %} 
 

{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="tasklist-stage" aria-current="true">
              Tasks
            </a>
          </li>

          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="application">
              Application
            </a>
          </li>
          
          <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="calculations2">
              Calculations
            </a>
          </li>


          <li class="govuk-service-navigation__item-c2 govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Timeline</strong>
            </a>
          </li>
          <li class="govuk-service-navigation__item-c2">
            <a class="govuk-service-navigation__link" href="notes">
              Notes
            </a>
          </li>
    

          {% if (data.agreementStage) %} 
           <li class="govuk-service-navigation__item-c2 ">
            <a class="govuk-service-navigation__link" href="agreement">
              Agreement
            </a>
          </li>
          {% else %} 
          {% endif %} 
        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="test2" method="post">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="regKeeper-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
    Timeline  (multiple cases)
      </h1>
    </legend>
    
<table class="govuk-table govuk-!-margin-top-4">
  <caption class="govuk-table__caption govuk-table__caption--L">Timeline history</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Case ID</th>
      <th scope="col" class="govuk-table__header">Date received</th>      
      <th scope="col" class="govuk-table__header">Date ended</th>
      <th scope="col" class="govuk-table__header">Status</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell"><a href="../tasklist-stage">100300</a></td>
      <td class="govuk-table__cell">11 Feb 2026</td>
      <td class="govuk-table__cell"> - </td>
      <td class="govuk-table__cell">{{ data['caseStatus']}}</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">100287</td>
      <td class="govuk-table__cell">03 Feb 2026</td>
      <td class="govuk-table__cell">03 Feb 2026</td>
      <td class="govuk-table__cell">Returned to customer</td>
    </tr>
  </tbody>
</table>
<div class="moj-timeline">

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Application stage decision: Returned to customer</h2>

      <p class="moj-timeline__byline">by A Jones </p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">03 Feb  2026 at 11:12am</time>
    </p>

    <div class="moj-timeline__description">
      <a class="govuk-link" href="notes#review">View note</a>
      
    </div>

  </div>


  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Task - Check if any land parcels are within an SSSI - Accepted</h2>

      <p class="moj-timeline__byline">by A Jones </p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">03 Feb  2026 at 10:30am</time>
    </p>

    <div class="moj-timeline__description">
      <a class="govuk-link" href="notes#review">View note</a>
      
    </div>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Task - Review land parcel rule checks - Accepted</h2>

      <p class="moj-timeline__byline">by A Jones </p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">03 Feb  2026 at 10:30am</time>
    </p>

    <div class="moj-timeline__description">
      <a class="govuk-link" href="notes#review">View note</a>
      
    </div>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Task - Check customer details - Accepted</h2>

      <p class="moj-timeline__byline">by A Jones </p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">03 Feb  2026 at 10:30am</time>
    </p>

    <div class="moj-timeline__description">
      <a class="govuk-link" href="notes#review">View note</a>
      
    </div>

  </div>
  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Not started stage: Start</h2>

      <p class="moj-timeline__byline">by A Jones </p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">03 Feb 2026 at 16:31pm</time>
    </p>

    <div class="moj-timeline__description">
      <a class="govuk-link" href="notes#review">View note</a>
      
    </div>

  </div>

  <div class="moj-timeline__item">

    <div class="moj-timeline__header">
      <h2 class="moj-timeline__title">Case received</h2>

      <p class="moj-timeline__byline">by System</p>

    </div>

    <p class="moj-timeline__date">
      <time datetime="2019-06-14T14:01:00.000Z">02 Feb 2026 at 09:43am</time>
    </p>

    <div class="moj-timeline__description">
      <a class="govuk-link" href="notes#review">View note</a>
      
    </div>

  </div>
</div>

    

</div>
          

    </form>

  </div>

</div>





{% endblock %}