{% extends "layouts/main.html" %}

{% set pageName="Home" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header>
  
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-m">
      frps 
    </h1>

    <p><a href="FRPS-PB-D1/home">Private Beta D1</a></p>

  </div>
    <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-m">
      caseworking tool prototytpe (f-grants)
    </h1>
<p><a href="FG-casework/login">start</a></p>

<p><a href="FG-casework-LH/login">alt treatment start</a></p>

  </div>
</div>

{% endblock %}
