{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header>
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "javascript:history.back()"
      }) }}
      <h2 class="govuk-heading-m">Valley Farm</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">SBI:</strong> 112849012</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Reference:</strong>   1781288</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Scheme:</strong>  SFI 2025</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Date received:</strong>  1 Jul 2024</p></div>        
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  In progress</p></div>
      </div>


    </div>

  </div>
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li> 
          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="test3">
              Application
            </a>
          </li>

          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="test4">
              Land details
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="tasklist1" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     <h1 class="govuk-heading-l govuk-!-margin-top-8">Can the case proceed?</h1>
<dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Able to proceed
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['proceed'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="your-name">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Case note
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['moreDetail'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="business-structure">Change<span class="govuk-visually-hidden"> Change Business name</span></a>
        </dd>
      </div>
    </dl>
<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>
    </form>

  </div>

</div>





{% endblock %}