{% extends "layouts/main.html" %}
{% block header %}

  <header class="defra-internal-header" role="banner">
    <div class="govuk-width-container">
      <div class="defra-logo">
          <a href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs" title="Go to the Defra Design Library homepage" class="defra-logo__link">
            <span class="c-defra-logo__title govuk-visually-hidden">Department for Environment Food &amp; Rural Affairs</span>
          </a>
      </div>

      <div class="defra-internal-service-name">
          <a href="/" title="Go to the homepage" class="defra-internal-service-name__link">
            Manage rural grant applications
          </a>
      </div>
    </div>
  </header>
  <div class="lg-div"> 
    <div class="govuk-width-container">
      {{ govukBackLink({
        text: "Back to applications",
        href: "javascript:history.back()"
      }) }}
      <h2 class="govuk-heading-m">Valley Farm</h2>
     
      <div style="display: flex; gap: 20px;">
        <div><p><strong class="govuk-!-margin-right-1">SBI:</strong> 112849012</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Reference:</strong>   1781288</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Grant: </strong>Water Management Round 3</p></div>
        <div><p><strong class="govuk-!-margin-right-1">Date received:</strong>  1 Jul 2024</p></div>        
        <div><p><strong class="govuk-!-margin-right-1">Status:</strong>  Not started</p></div>
      </div>


    </div>

  </div>
  
{% endblock %}


{% block content %}
<div class="govuk-service-navigation-white"
  data-module="govuk-service-navigation">
  <div class="govuk-width-container">
    <div class="govuk-service-navigation__container">
      <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
        <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle" aria-controls="navigation" hidden>
          Menu
        </button>
        <ul class="govuk-service-navigation__list" id="navigation">
          <li class="govuk-service-navigation__item-c govuk-service-navigation__item--active">
            <a class="govuk-service-navigation__link" href="#" aria-current="true">
              <strong class="govuk-service-navigation__active-fallback">Tasks</strong>
            </a>
          </li> 
          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="test3">
              Application
            </a>
          </li>

          <li class="govuk-service-navigation__item-c">
            <a class="govuk-service-navigation__link" href="test4">
              Land details
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
<form action="tasks-complete" method="post">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
     
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="regKeeper-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-!-margin-top-8">
    Initial application tasks
      </h1>
    </legend>
    <h2 class="govuk-heading-m">1. Make application decision</h2>
<ul class="govuk-task-list">

  {% if (data.proceed === 'can proceed') %}
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="Q1-check" aria-describedby="company-details-1-status">
        Check application 
      </a>
    </div>
    <div class="govuk-task-list__status" id="company-details-1-status">   
        Complete
    </div>
  </li>
  </ul>
  <button type="submit" class="govuk-button" data-module="govuk-button">
  Approve application
</button>
  {% else %}
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="Q1" aria-describedby="company-details-1-status">
        Check application
      </a>
    </div>
    <div class="govuk-task-list__status" id="company-details-1-status">
      <strong class="govuk-tag govuk-tag--blue">
        Incomplete
      </strong>
    </div>
  </li>
</ul>
  {% endif %}

          







    </form>

  </div>

</div>





{% endblock %}